body{
    margin:0%;
    padding:0%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* .header{
    background-color: antiquewhite;
} */

.logo{
    margin-top: 2%;
}

.logo img{
    margin-left: 3%;
}

.logo img {
    height: 78.6px;
    width: 234.8px;
    /* border: 1px solid black; */
}

.container{
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.5);
    width: 35%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 5%;
}

.heading{
    text-align: center;
}

.toggle {
    position: relative;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
  
.toggle input[type=radio] {
    display: none;
}
  
.toggle label {
    flex: 1;  /* both label takes equal space */
    text-align: center;
    z-index: 2;
    position: relative;
    cursor: pointer;
}
  
.slider {
    height: 55px;
    width: calc(50% - 2px);
    background: aquamarine;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: left 0.25s ease-in-out;
    display: inline-block;
}

.teacher:checked ~ .slider{
    left: 0; 
}
.student:checked ~ .slider{
    left: calc(50% + 1px);
}

.input-control input{
    width: calc(100% - 40px);
    max-width: 100%;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 16px 20px;
}

.form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.form-button input{
    padding: 10px 50px;
    max-width: 100%;
    font-size:medium;
    border-radius: 4px;
}

.forgot-password{
    text-align: center;
}

.terms{
    text-align: center;
}