body{
    margin:0%;
    padding:0%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    margin-top: 2%;
}

.logo img{
    margin-left: 3%;
    height: 78.6px;
    width: 234.8px;
}


.container{
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.5);
    width: 35%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 5%;
}

.heading{
    text-align: center;
}

.toggle {
    position: relative;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
  
.toggle input[type=radio] {
    display: none;
}
  
.toggle label {
    flex: 1;  /* both label takes equal space */
    text-align: center;
    z-index: 2;
    position: relative;
    cursor: pointer;
}
  
.slider {
    height: 55px;
    width: calc(50% - 2px);
    background: aquamarine;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: left 0.25s ease-in-out;
    display: inline-block;
}

.teacher:checked ~ .slider{
    left: 0; 
}
.student:checked ~ .slider{
    left: calc(50% + 1px);
}

.input-control label[for=password]{  
    display: block;
    margin-top: 20px;
}

.input-control input{
    width: calc(100% - 40px);
    max-width: 100%;
    border-radius: 4px;
    margin-top: 5px;
    padding: 16px 20px;
}

.form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.form-button input{
    padding: 10px 50px;
    max-width: 100%;
    font-size:medium;
    border-radius: 4px;
}

.forgot-password{
    text-align: center;
}

.terms{
    text-align: center;
}

.error{
    color: red;
}

/* dashboard ko code yeta bata suru */
.nav-header{
    display: flex;
}

.nav-welcome{
    margin-left: auto;
    padding-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-welcome p{
    font-size: 1rem;
    padding-right: 10px;
}

.nav-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.nav-button button{
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
}

.blocks{
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.5);
    width: 20%;
    height: 200px;
    display: inline-block;
    margin: 10px;
}

.blocks:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.blocks .left {
    width: 40%;
    height: 100%;
    float:left;
    background: rgb(30, 28, 28);
    color: #FAF9F6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blocks .left span {
    padding-bottom:5px;
    border-bottom: 1px solid #FAF9F6;
}

.blocks .right {
    width: 60%;
    height: 100%;
    float:right;
}
.blocks .right span:nth-child(1){
    height: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}


.blocks .right span:nth-child(2){
    height: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 10px;
}


