body{
    margin:0;
    padding:0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.background-color{
    background: linear-gradient(to right, #004d73, #047a9c);;
    min-height: 100vh;
}
.login-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.login-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex: 1;
}

.login-logo img{
    padding-top: 2%;
    margin-bottom: 40%;
    height: 200px;
    width: 200px;
    cursor: pointer;
    filter: drop-shadow(0 0 20px #00000080);
}

.logo img{
    margin-left: 3%;
    height: 78.6px;
    width: 234.8px;
    filter: drop-shadow(0 0 20px #00000080);
}

.container{
    flex: 1;
    max-width: 500px;
    margin: 0 10%;
    box-shadow: 0 0 20px 0 #00000080;
    width: 35%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    border-radius: 10px;
}

.container .heading{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold; 
}

.toggle {
    position: relative;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin-bottom: 20px;
}
  
.toggle input[type=radio] {
    display: none;
}
  
.toggle label {
    flex: 1;  /* both label takes equal space */
    text-align: center;
    z-index: 2;
    position: relative;
    cursor: pointer;
    padding: 10px;
}

.slider {
    height: 100%;
    width: 50%;
    background: #ffb81c;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: left 0.1s ease-in-out;
    display: inline-block;
}

.teacher:checked ~ .slider{
    left: 0; 
}
.student:checked ~ .slider{
    left: calc(50% + 1px);
}

.input-control label[for=password]{  
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
}

.input-control input{
    width: calc(100% - 40px);
    max-width: 100%;
    border-radius: 4px;
    padding: 16px 20px;
    border-width: 0 0 2px 0;
    transition: 0.25s ease;
    background-color: #fff;
    font-size: 16px;
}

.input-control input:focus{
    border-width: 0 0 4px 0;
    border-color: #047a9c;
    outline: 0px;
}

.form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    margin: 20px 0;
}

.form-button input[type="submit"]{
    padding: 10px 30%;
    max-width: 100%;
    font-size:medium;
    border-radius: 4px;
    border: none;
    background: #ffb81c ;
    cursor: pointer;
}


.form-button input[type="submit"]:hover{
    background: rgb(255,154,25) ;
}

.terms{
    text-align: center;
}

.error{
    color: red;
}


/* nav-bar ko code yeta bata */
.nav-header{
    display: flex;
    background-color: #014866;
}

.nav-time {
    color: #efefef;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-welcome{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-welcome p{
    font-size: 1rem;
    padding-right: 10px;
    color: #efefef;
}

.nav-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.nav-button button{
    padding: 5px 15px;
    background: #ffb81c ;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: medium;
}

.nav-button button:hover{
    background: rgb(255,154,25) ;
}

/* dashboard ko code yeta bata suru */
.heading h1{
    text-align: left;
    margin: 10px 20px;
}

.heading a{
    text-decoration: none;
    color: black;
}

.heading a:hover{
    text-decoration: underline;
}

.blocks{
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.5);
    width: 20%;
    height: 200px;
    display: inline-block;
    margin: 10px;
}

.blocks:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.blocks a:link,
.blocks a:visited,
.blocks a:hover,
.blocks a:focus,
.blocks a:active,
.blocks a:target {
    color: #000;
    text-decoration: none;
}

.blocks .left {
    width: 40%;
    height: 100%;
    float:left;
    background: rgb(30, 28, 28);
    color: #FAF9F6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blocks .left span {
    padding-bottom:5px;
    border-bottom: 1px solid #FAF9F6;
}

.blocks .right {
    width: 60%;
    height: 100%;
    float:right;
}

.blocks .right span:nth-child(1){
    height: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.blocks .right span:nth-child(2){
    height: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 10px;
    font-size: 0.9rem;
}

/* assignment-page code start */

.course-title{
    font-size: 150%;
    text-align: center;
    padding-bottom: 10px;
}

.assignment-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 65vh;
    column-gap: 20px;
}

.assignment-container .left,
.assignment-container .right{
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.assignment-container .left{
    flex: 40%;   
}

.assignment-container .right{
    background-color: #ccc;
    flex: 60%;
}

.left .buttons,
.right .buttons{
    background-color: #014866;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    bottom: 0;
    padding: 10px;
}

.left-titles,
.right-titles{
    display: flex;
    flex-direction: column;
}

.left-titles,
.right-titles{
    gap: 20px;
}

.left-titles .category-name {
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.25);
    cursor: pointer;
    border-bottom: 1px solid black;
    padding:20px;
}

.left-titles .category-name:hover{
    background-color: #ccc;
}

.category-name.selected-category{
    background-color: #ccc;
}

.right-titles .assignment-title{
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.25);
    display: inline;
}

.assignment-title .title-name{
    border-bottom: 1px solid black;
    cursor: pointer;
    padding:20px;
    display: flex;
    justify-content: space-between;
}

.assignment-title .question{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    column-gap: 10px;
}

/* submission page */

.submission-table{
    border-collapse: collapse;
    margin: 10px 20px  ;
}

/* Common styling for the delete button */
.delete-button {
    background-color: #ff4c4c; /* Red background color */
    color: white; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Padding for size */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  /* Change background color on hover */
  .delete-button:hover {
    background-color: #e43a40; /* A bit darker red on hover */
  }
  
  /* Change background color on active (click) */
  .delete-button:active {
    background-color: #cc3238; /* Even darker red on click */
  }
  